body {
    height: 100%;
}

/* makes login button match size of div */

.btn.btn-outline-primary.btn-sm.me-2{
    width: 100%;
}

/* Sets marging for header div */

.d-flex.justify-content-between.align-items-center.py-3 {
    margin-right: 40px;
    margin-left: 40px;
}

/* Div containing Login, Logout, and Logged in User info */

.text-start {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    align-items: flex-end;
}

/*  */

.logged-as-user {
    font-size: 16pt;
    margin-bottom: 5px;
}

.logged-as-greentext {
    color: green
}